.places__website-block {
    width: 100%;
    grid-area: places__website-block;
    margin: 0;
    padding: 0;
    justify-self: start;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .places__website-block {
        max-width: 288px;
        padding: 0 16px;
        margin: 0;
    }
}
