@font-face {
     font-family: 'Inter';
     font-style:  normal;
     font-weight: 400;
     font-display: swap;
     src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
          url("Inter-Regular.woff?v=3.19") format("woff");
}
   
@font-face {
     font-family: 'Inter';
     font-style:  normal;
     font-weight: 700;
     font-display: swap;
     src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
          url("Inter-Bold.woff?v=3.19") format("woff");
}
   
@font-face {
     font-family: 'Inter';
     font-style:  normal;
     font-weight: 900;
     font-display: swap;
     src: url("Inter-Black.woff2?v=3.19") format("woff2"),
          url("Inter-Black.woff?v=3.19") format("woff");
}
   
.page {
     margin: 0 auto;
     background-color: #2A2C2F;
     font-family: 'Inter' , sans-serif;
     text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px){
     .page {
          margin: 0 auto;
          width: 100%;
          min-width: 1024px;
     }
}

@media screen and (max-width: 768px){
     .page {
          margin: 0 auto;
          width: 100%;
          min-width: 768px;
     }
}