.places {
    margin: 0 auto;
    max-width: 984px;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .places {
        min-width: 288px;
    }    
}

@media screen and (max-width: 320px) {
    .places {
        flex-wrap: wrap;
        width: 100%;
    }    
}