.places {
    border: 1px solid #000;
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 148px;
}

@media screen and (max-width: 1023px) {
    .places {
        padding: 92px 48px;
    }
}

@media screen and (max-width: 767px) {
    .places {
      padding: 88px 24px;
      margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .places {
      max-width: 100%;
      padding: 64px 0;
    }
}