.places__url {
    margin: 0 0 12px;
    color: #aaa;
    font: normal 400 12px/12px 'Inter';
    letter-spacing: 2px;
}

@media screen and (max-width: 320px) {
    .places__url {
        margin-bottom: 12px;
    }
  }