.baikal {
    background: url('../../images/cover-trains.jpg') no-repeat center / cover;
    color: #fff;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    object-fit: cover;   
    display: flex;
}

.baikal::before {
    content: "";
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.baikal:hover::before {
    background-color: rgba(0, 0, 0, .7);
}

@media screen and (max-width: 320px) {
    .baikal {
        max-width: 100%;
        height: auto;
    }
}