.places__image { 
    max-width: 460px;
    max-height: 460px;
    grid-area: places__image;
    width: fit-content;
    height: fit-content;
    margin: 0;
 }

 @media screen and (max-width: 768px) {
    .places__image {
        width: 340px;
        height: 340px;
        grid-area: places__image;
        margin: 0;
    }
 }