.places__image {
    width: 100%;
    object-fit: cover;
    grid-area: places__image;
}

@media screen and (max-width: 1280px) {
    .places__image {
        width: auto;
    }
}

@media screen and (max-width: 1023px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .places__image {
        max-width: 767px;
        display: block;
        width: 100%;
    }
}
