.baikal__text-block_title {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .baikal__text-block_title {
        font-size: 32px;
        line-height: 35px;
    }
}