.places__title {
    border: 1px solid #fff;
    margin: 0 auto 20px 0;
    grid-area: places__title;
    max-width: 460px;
    font-size: 72px;
    font-weight: bold;
    line-height: 76px;
    width: fit-content;
    height: fit-content;
    justify-self: start;
    align-self: end;    
}