.lead {
    margin: 56px auto 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: normal;
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 928px;
        margin: 48px auto 0 ;
        align-items: center;
    }
}

