.lead {
    margin: 0 auto;
    padding: 56px auto 96px;
    max-width: 984px;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 48px auto;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
        margin: 48px auto;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 100%;
        margin: 48px auto;
        justify-content: center;
    }
}