.lead__title {
    color: #fff;
    max-width: 720px;
    font-weight: 900;
    line-height: 100px;
    font-size: 96px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 720px;
        font-size: 40px;
        line-height: 44px;
    }    
}
