.footer__item {
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;   
    color: #fff;
}

.footer__item:first-child {
    margin-left: 0;
}

.footer__item:last-child {
    align-self: end;;
}

