.footer__item {
    margin: 0 18px;
    display: inline-block;
    list-style: none;   
    color: #fff;
}

.footer__item:last-child {
    float: right;
    margin: 0;
    padding: 0;

}

.footer__item:first-child {
    margin-left: 0;
}