.intro {
    max-width: 690px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        padding: 16px;
    }
}
