.footer__list {
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .footer__list {
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
        max-width: 928px;
        padding: 0;
    } 
}
