.footer__list {
    max-width: 1184px;
    margin: 0 auto;
    width: 100%;
}

.footer__list:last-child {
    align-self: end;
}

@media screen and (max-width: 1023px) {
    .footer__list {
        border: 1px solid #000;
        display: flex;
        /* max-width: 928px; */
        width: 100%;
        padding: 0;
    } 
}
