.footer__list {
    max-width: 1184px;
    margin: 0 auto;
    display: inline-block;
}

@media screen and (max-width: 320px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    } 
}
