.footer {
    margin: 0;
    padding: 92px 0 24px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
 }