.footer {
    border: 1px solid #2A2C2F;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
 }