.footer__list_item {
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;   
    color: #fff;
}

.footer__list_item:first-child {
    margin-left: 0;
}

.footer__list_item:last-child {
    align-self: end;    
}

@media screen and (max-width: 1023px) {
    .footer__list_item {
        padding: 0 0 12px 0;
    } 

    .footer__list_item:last-child {
        align-self: flex-start;    
        padding-bottom: 0;
    }
}
