.places__website { 
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    width: fit-content;
    height: fit-content;
    justify-self: start;
    align-self: end;
 }

 .places__website:hover {
     text-decoration: underline;
 }