.baikal__link {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: #fff;
    text-decoration: none;
}

.baikal__link::before {
    content: "";
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A2C2F; 
    opacity: .3;
    z-index: 2;
}

.baikal__link:hover::before {
    background-color: #2A2C2F; 
    opacity: .7;
}