.places__item {  
  color: #fff;
  max-width: 984px;
  margin: 92px 0;
  justify-content: center;
  display: grid;
  grid-auto-columns: 1fr;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas: 
    "places__title places__website"
    "places__image places__description";
}

.places__item:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 767px) {
  .places__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 320px;
    row-gap: 32px;
    align-items: flex-start;
    align-self: none;
  }
}
 