.places__item {
  color: #fff;
  width: 100%;
  border: 1px solid SpringGreen;
  display: grid;
  gap: 48px 40px;
  grid-template-areas: 
      'places__title places__website-block'
      'places__image places__description';
}

@media screen and (max-width: 767px) {
  .places__item {
    margin: 0;
    gap: 48px 28px;
    /* max-width: 320px; */
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places__item {
    grid-template-areas: 
      'places__title' 'places__website-block'
      'places__image' 'places__description';
    width: 100%;
  }
}