.places__item {
  color: #fff;
  margin: 80px auto;
  padding: 0;
  width: auto;
  display: grid;
  grid-gap: 48px 40px;
  grid-template-areas: 
      'places__title places__website-block'
      'places__image places__description';
}

.places__item:first-child {
  margin-top: 92px;
}

.places__item:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .places__item {
    margin: 73px auto;
    padding: 0 20px;
    grid-gap: 48px 32px;
    
  }

  .places__item:first-child {
    margin-top: 88px;
  }
  
  .places__item:last-child {
    margin-bottom: 90px;
  } 
}

@media screen and (max-width: 767px) {
  .places__item {
    grid-template-areas: 
      'places__title'
      'places__website-block'
      'places__image'
      'places__description';
    margin: 50px auto;
    padding: 0;
    grid-gap: 0 0;
  }

  .places__item:first-child {
    margin-top: 64px;
  }
  
  .places__item:last-child {
    margin-bottom: 41px;
  }
}